<h2>Preview</h2>
<div class="preview">
    {{{preview}}}
</div>

<style type="text/css">
    {{{style}}}
</style>

<h2>Code</h2>
<section class="code">
    <h3>HTML</h3>
    <pre><code class="hljs">{{{code.html}}}</code></pre>
    <h3>Handlebars</h3>
    <pre><code class="hljs">{{{code.hbs}}}</code></pre>
    <h3>YAML</h3>
    <pre><code class="hljs">{{{code.yaml}}}</code></pre>
    <h3>JSON</h3>
    <pre><code class="hljs">{{{code.json}}}</code></pre>
</section>

{{#if info.integrated.length}}
    <h2>Integrated Partials</h2>
    <nav aria-label="integrated partials">
        <ul>
            {{#each info.integrated}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
{{/if}}

{{#if info.extended.length}}
    <h2>Extended Partials</h2>
    <nav aria-label="extended partials">
        <ul>
            {{#each info.extended}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </nav>
{{/if}}
