<section class="pkg" data-pkg="agency-pkg-documentation/doc-template">

  <h1>Preview <span class="partial">{{{previewPartial}}}</span></h1>
  <section class="pkg" data-pkg="agency-pkg-documentation/doc-template/preview" role="preview">
    <div class="preview">
      {{{preview}}}
    </div>
    <style type="text/css">
      {{{style}}}
    </style>
    </div>
  </section>

  <h2>Code</h2>
  <section class="pkg" data-pkg="agency-pkg-documentation/doc-template/code" role="code">
    <h3>HTML</h3>
    <pre role="code-html"><code class="hljs">{{{code.html}}}</code></pre>
    <h3>Handlebars</h3>
    <pre role="code-hbs"><code class="hljs">{{{code.hbs}}}</code></pre>
    <h3>JSON</h3>
    <pre role="code-json"><code class="hljs">{{{code.json}}}</code></pre>
  </section>

  {{#if info.length}}
  <h2>Related Partials</h2>
  <section class="pkg" data-pkg="agency-pkg-documentation/doc-template/related-partials" role="related-partials">
      <nav aria-label="integrated partials">
        <ul>
          {{#each info}}
            <li><a href="{{url}}">{{title}}</a></li>
          {{/each}}
        </ul>
      </nav>
    </section>
  {{/if}}

</section>
