<h2>Preview</h2>
<div class="preview">
    {{{preview}}}
</div>

<h2>Code</h2>
<section class="code">
    <h3>HTML</h3>
    <pre><code class="hljs">{{{code.html}}}</code></pre>
    <h3>Handlebars</h3>
    <pre><code class="hljs">{{{code.hbs}}}</code></pre>
    <h3>YAML</h3>
    <pre><code class="hljs">{{{code.yaml}}}</code></pre>
    <h3>JSON</h3>
    <pre><code class="hljs">{{{code.json}}}</code></pre>
</section>

<h2>Related Links</h2>
<nav aria-label="Related links">
    <ul>
        {{#each relatedPages}}
            <li><a href="{{url}}">{{title}}</a></li>
        {{/each}}
    </ul>
</nav>

<style type="text/css">
        {{style}}
</style>